{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": true
                },
                "useBuiltIns": true
            }
        ],
        "flow"
    ],
    "plugins": ["transform-decorators-legacy"]
}
